{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}
    <h1>Bienvenue dans le Dashboard Admin</h1>
    <p>Ajoute ici des liens vers les fonctionnalités d'administration.</p>
{% endblock %}
